body {
    background-color: rgb(162, 194, 221);
    font-family: Didot, Palatino, serif;
}

.right {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 1em;
    padding-top: 1.5em;
}

.links {
    font-size: 0.8rem;
}

.errorLogo {
    border-radius: 50%;
    width: 10%;
}
.picPara {
    text-align: center;
}

.error-message {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    color: maroon;
}

/* pushing links to bottom of page */
.page-container {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding-bottom: 2.5rem; /* Footer height */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;     /* Footer height */
    text-align: center;
}