.error-logo {
    border-radius: 50%;
    border: thick solid #EDC7B7;
    width: 10rem;
}

.pic-parameters {
    text-align: center;
}

.error-message {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}
.error-page__main {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    height: 25rem;
}
