.home-page__main {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    height: 25rem;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 2.5rem;
}

.descriptor {
    display: flex;
    justify-content: center;
    align-items: center;    
    font-style: italic;
    padding: 1rem;
}

.overview {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: lightgray;
    margin: 1rem;
}

@media screen and (min-width: 760px) {
    .overview {
        margin: 0 auto;
        max-width: 600px;
        background-color: lightgray;
    }
}