body {
    background-color: rgb(162, 194, 221);
    font-family: Didot, Palatino, serif;
}

.right {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 1em;
    padding-top: 1.5em;
}

.links {
    font-size: 0.8rem;
}

header {
    border: thin solid black;
}

.meLogo {
    border-radius: 50%;
    width: 3%;
}

/* main {
    display: flex; */
    /* justify-content: center;
    align-items: center; */
    /* flex-direction: column;
} */

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    border: thick solid orange;
    font-weight: bolder;
    font-size: 2.5rem;
    padding-top: 8rem;
    /* text-align: center; */
}

.descriptor {
    display: flex;
    justify-content: center;
    align-items: center;    
    border: thin solid black;
    font-style: italic;
    /* text-align: center; */
}

.overview {
    display: flex;
    justify-content: center;
    align-items: center;
    border: thick solid seagreen;
    padding: 2rem 5rem;
    /* text-align: center; */
}



/* pushing links to bottom of page */
.page-container {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding-bottom: 2.5rem; /* Footer height */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;     /* Footer height */
    text-align: center;
} 